<div>
  <div *ngIf="showingCroppingTools" class="options-row">
    <button mat-icon-button color="accent" title="Save changes" (click)="save()">
      <mat-icon aria-label="Save Changes">save</mat-icon>
    </button>
    <button mat-icon-button color="accent" title="Crop Image" (click)="cropImage()">
      <mat-icon aria-label="Crop Image">done</mat-icon>
    </button>
    <button mat-icon-button color="accent" title="Discard Changes" (click)="restore()">
      <mat-icon aria-label="Discard Changes">delete</mat-icon>
    </button>
    <button mat-icon-button color="accent" title="Close" (click)="stop()">
        <mat-icon aria-label="Discard Changes">close</mat-icon>
      </button>
  </div>
  <img id="image" [src]="image">
  <div *ngIf="!showingCroppingTools">
    <button mat-button (click)="showCropperTool()" class="right">Show Cropping Tool</button>
    <button mat-button (click)="saveImage()" class="right">Save Image</button>
  </div>
</div>