<div>
    <div *ngIf="showingCroppingTools" class="options-row">
      <button mat-icon-button color="accent" (click)="undo()">
        <mat-icon aria-label="Undo Changes">undo</mat-icon>
      </button>
      <button mat-icon-button color="accent" (click)="cropImage()">
        <mat-icon aria-label="Crop Image">done</mat-icon>
      </button>
      <button mat-icon-button color="accent" (click)="restore()">
        <mat-icon aria-label="Discard Changes">delete</mat-icon>
      </button>
    </div>
  <img id="image" [src]="image">
  <button mat-button *ngIf="!showingCroppingTools else crop" (click)="showCropperTool()" class="right">Show Cropping Tool</button>
  <ng-template #crop>
      <button mat-button (click)="save()" class="right">Save Image</button>
      <button mat-button (click)="stop()" class="right">Close</button>
  </ng-template>
</div>