.sidenav-content {
  display: flex;
  height: 100%;
  align-items: flex-start;
  justify-content: center;
}

.sidenav {
  padding: 20px;
}

.sidenav-list {
  height: 100px;
  display: flex;
}

.sidenav-container {
  height: 98vh;
}
