<ng-container *ngIf="!!article && !!author else loadingMask">
    <span class="back-button" (click)="onBackClicked()"><mat-icon>arrow_back_ios</mat-icon><span class="text">Back</span></span>
    <div class="article-display">
      <span class="article-info">
        <span class="headers">
          <span class="title">{{article.title}}</span>
          <span class="description">{{article.description}}</span>
          <span class="author">
            <span *ngIf="!!authorProfilePicture">
                <img image-loader
                    alt="Profile Picture"
                    [src]="authorProfilePicture"
                    [urlSet]="profilePictureSet"
                    [imgSize]="'small'"
                    class="profile-picture"/>
            </span>
            <span class="author-info">
              <div class="primary">{{author.name}}</div>
              <div class="subtle">{{article.datePosted | date:'longDate'}}</div>
            </span>
          </span>
        </span>
        <span class="article-image" *ngIf="!!articleCoverPhoto">
            <img image-loader
                 alt="Cover Photo"
                 [src]="articleCoverPhoto"
                 [urlSet]="coverPhotoSet"
                 [imgSize]="'large'"
                 class="cover-photo"/>
        </span>
      </span>
      <div class="article" [innerHTML]="article.text | sanitizeHtml"></div>
    </div>
</ng-container>
<ng-template #loadingMask>
    <mat-spinner [diameter]="100"
                 color="accent"
                 class="loading"></mat-spinner>
</ng-template>
