<mat-table #table [dataSource]="dataSource" matSort>    
  <!-- Title Column -->
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.title}} </mat-cell>
  </ng-container>

  <!-- Description Column -->
  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.description}}% </mat-cell>
  </ng-container>

  <!-- Date Posted Column -->
  <ng-container matColumnDef="datePosted">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Date Posted </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.datePosted | date:'longDate'}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>