.editor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 7vh;
}

.save {
  float: right;
  margin-right: 1.5vw;
  margin-top: 1.5vh;
}

.form-input {
  display: inline-block;
  min-width: 95%;
}

.form-container {
  text-align: center;
}

.editor-form {
  margin-left: 1vw;
  margin-right: 1vw;
}

.vertical-spacer {
  width: 100%;
  display: block;
  clear: all;
  padding-top: 2em;
}

.vertical-half-spacer {
  width: 100%;
  display: block;
  clear: all;
  padding-top: 1em;
}

.vertical-quarter-spacer {
  width: 100%;
  display: block;
  clear: all;
  padding-top: 0.5em;
}