<div class="editor-form">
  <form class="form-container" #f="ngForm" [formGroup]="formGroup" (ngSubmit)="saveArticle(f.value, f.valid)" novalidate>
    <button mat-raised-button type="submit" [disabled]="!f.valid" color="accent" class="save"> Save Article </button>
    <mat-input-container class="form-input">
      <input matInput type="text" placeholder="Article Title" formControlName="articleTitle" required />
      <mat-error *ngIf="formGroup.hasError('required', ['articleTitle'])">Article Title is required</mat-error>
    </mat-input-container>
    <mat-input-container class="form-input">
      <textarea matInput type="text" placeholder="Article Description" formControlName="articleDescription" rows="5" required></textarea>
      <mat-error *ngIf="formGroup.hasError('required', ['articleDescription'])">Article Description is required</mat-error>
    </mat-input-container>
  </form>
  <div matInput class="editor">
    <div *ngIf="editing" (froalaInit)="initialize($event)" [froalaEditor]="options" [(froalaModel)]="editorContent"></div>
  </div>
</div>
