.editor {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.save {
  float: right;
  margin-right: 1.5vw;
  margin-top: 1.5vh;
}

.form-input {
  display: inline-block;
  min-width: 95%;
}

.form-container {
  text-align: left;
}

.editor-form {
  margin-left: 1vw;
  margin-right: 1vw;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}