.article-option {
  font-size: 10pt;
}

.cover-photo {
  max-width: 100%;
  height: auto;
}

.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;

  ::ng-deep mat-card {
      margin: 20px;
  }
}

.article-list {
  flex: none;
  width: 66.6666%;
  min-height: 700px;
  margin-bottom: 10px;
}

.columns {
  display: flex;
}

.site-info {
    position: fixed;
    right: 0;
    max-width: 33.333%;
}

.loading {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100px;
}

#end {
    text-align: center;
    color: grey;
    font-style: italic;
}

@media screen and (max-width: 1199px) {
    .article-list {
        margin: 0 auto;
        max-width: 100vw;
        min-width: 100%;
        order: 1;
        margin-bottom: 10px;
    }
    .site-info {
        position: relative;
        min-width: 93%;
        max-width: 100vw;
        order: 0;
    }
    .columns {
        flex-direction: column;
    }
}
