.article-option {
  font-size: 10pt;
}

.cover-photo {
  max-width: 100%;
  height: auto;
}

.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;

  ::ng-deep mat-card {
      margin: 20px;
  }
}

.article-list {
  flex: none;
  width: 66.6666%;
}

.columns {
  display: flex;
}

@media screen and (max-width: 1199px) {
    .article-list {
        margin: 0 auto;
        max-width: 100vw;
        min-width: 100%;
        order: 1;
    }
    .site-info {
        min-width: 93%;
        max-width: 100vw;
        order: 0;
    }
    .columns {
        flex-direction: column;
    }
}
