.articles {
  margin-left: 3vw;
  margin-top: 2vh;
}

.repo:hover {
  background-color: #bdbdbd;
}

.card-sections {
  margin-bottom: 20px;
}

.title-search {
  width: 100%;
  max-height: 100px;
}

.article-option {
  font-size: 10pt;
}

.cover-photo {
  max-width: 100%;
  height: auto;
}

$column-gap: 0.75rem;

.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: $column-gap;
}

.is-two-thirds {
  flex: none;
  width: 66.6666%;
}

.columns {
  display: flex;
  margin-left: (-$column-gap);
  margin-right: (-$column-gap);
  margin-top: (-$column-gap);
  &:last-child {
    margin-bottom: (-$column-gap);
  }
  &:not(:last-child) {
    margin-bottom: calc(1.5rem - #{$column-gap});
  }
}
