<div class="container" [class.is-mobile]="mobileQuery.matches" >
    <mat-toolbar color="primary" class="toolbar">
        <button mat-icon-button *ngIf="mobileQuery.matches" (click)="toggleSideNav()"><mat-icon>menu</mat-icon></button>
        <span routerLink="/" class="link">The Lighthouse</span>
        <span class="spacer"></span>
        <div>
            <a mat-button *ngIf="!loggedIn() && !mobileQuery.matches" (click)="login()">Login</a>
            <a mat-button *ngIf="!loggedIn() && !mobileQuery.matches" (click)="register()">Register</a>
            <a mat-button *ngIf="loggedIn() && !mobileQuery.matches && !hideSubscriptionOption" (click)="subscribe()">Subscribe</a>
            <a mat-button *ngIf="loggedIn() && !mobileQuery.matches" routerLink="/articles">Your Articles</a>
            <button mat-button *ngIf="loggedIn() && !mobileQuery.matches" [matMenuTriggerFor]="menu">
                <span>{{name}}</span>
                <img [src]="image"
                     alt="Profile Picture"
                     image-loader
                     [urlSet]="profilePictureSet"
                     [imgSize]="'small'"
                     class="profile-picture"/>
            </button>
            <mat-menu #menu="matMenu" [overlapTrigger]="false">
                <button mat-menu-item (click)="editSettings()">
                    <mat-icon>settings</mat-icon>
                    <span>User Settings</span>
                </button>
                <button mat-menu-item (click)="logout()">
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Logout</span>
                </button>
            </mat-menu>
        </div>
    </mat-toolbar>
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                        [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <mat-nav-list>
                <div *ngIf="!loggedIn()">
                    <button mat-menu-item class="nav-item" (click)="login()">
                        <mat-icon>vpn_key</mat-icon>
                        <span>Login</span>
                    </button>
                    <button mat-menu-item class="nav-item" (click)="register()">
                        <mat-icon>perm_identity</mat-icon>
                        <span>Register</span>
                    </button>
                </div>
                <div *ngIf="loggedIn()">
                    <div class="profile-info">
                        <span>{{name}}</span>
                        <img [src]="image"
                             alt="Profile Picture"
                             image-loader
                             [urlSet]="profilePictureSet"
                             [imgSize]="'small'"
                             class="profile-picture"/>
                    </div>
                    <a mat-menu-item class="nav-item" *ngIf="loggedIn()" routerLink="/articles">
                        <mat-icon>pages</mat-icon>
                        <span>Your Articles</span>
                    </a>
                    <button mat-menu-item *ngIf="!hideSubscriptionOption" class="nav-item" (click)="subscribe()">
                        <mat-icon>subscriptions</mat-icon>
                        <span>Subscribe</span>
                    </button>
                    <button mat-menu-item class="nav-item" (click)="editSettings()">
                        <mat-icon>settings</mat-icon>
                        <span>User Settings</span>
                    </button>
                    <button mat-menu-item class="nav-item" (click)="logout()">
                        <mat-icon>exit_to_app</mat-icon>
                        <span>Logout</span>
                    </button>
                </div>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <ng-content></ng-content>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
