
/* https://material.angular.io/components/component/toolbar */
.spacer {
  flex: 1 1 auto;
}

.link:hover {
  cursor: pointer;
}

#profile-picture {
  width: 50px;
  height: 50px;
  object-fit: contain;
}
