
/* https://material.angular.io/components/component/toolbar */
.spacer {
  flex: 1 1 auto;
}

.link:hover {
  cursor: pointer;
}

#profile-picture {
  padding-inline-start: 5px;
  width: 30px;
  height: 30px;
  object-fit: contain;
}
