<md-toolbar color="primary">
    <button md-icon-button (click)="onMenuClick()">
        <md-icon>map</md-icon>
    </button>
    <span routerLink="/" class="link">{{title}}</span>
    <span class="spacer"></span>
    <div>
      <a *ngIf="!loggedIn()" md-button (click)="login()">Login</a>
      <a md-button *ngIf="!loggedIn()" (click)="register()">Register</a>
      <a md-button *ngIf="loggedIn()" routerLink="/articles">Your Articles</a>
      <button md-button *ngIf="loggedIn()" [mdMenuTriggerFor]="menu">
          <span>Sam Pastoriza</span>
        </button>
      <md-menu #menu="mdMenu">
        <button md-menu-item (click)="editSettings()">
            <md-icon>settings</md-icon>
            <span>User Settings</span>
        </button>
        <button md-menu-item (click)="logout()">
            <md-icon>exit_to_app</md-icon>
            <span>Logout</span>
        </button>
      </md-menu>
    </div>
</md-toolbar>
