
/* https://material.angular.io/components/component/toolbar */
.spacer {
  flex: 1 1 auto;
}

.link:hover {
  cursor: pointer;
}

.profile-picture {
  margin-left: 5px;
  width: 30px;
  height: 30px;
  object-fit: contain;
  border-radius: 15px;
}

:host {
  ::ng-deep mat-toolbar {
    box-shadow: 0px 5px 5px #b0bec5;
    z-index: 4;
  }
}

.profile-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5px 0px;
}

.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.is-mobile .toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;

}

.sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
    causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
}

.nav-item {
    margin-right: 10px;
}

.is-mobile .sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
    `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;

    ::ng-deep {
        mat-sidenav-content {
            padding-top: 56px;
        }
    }
}
