<md-toolbar color="primary">
    <button md-icon-button (click)="onMenuClick()">
        <md-icon>map</md-icon>
    </button>
    <span routerLink="/" class="link">{{title}}</span>
    <span class="spacer"></span>
    <div>
      <a *ngIf="!loggedIn()" md-button routerLink="/login">Login</a>
      <a md-button *ngIf="!loggedIn()" routerLink="/register">Register</a>
      <a md-button *ngIf="loggedIn()" routerLink="/articles">Your Articles</a>
      <button md-button *ngIf="loggedIn()" (click)="logout()">Logout</button>
    </div>
</md-toolbar>
