/* You can add global styles to this file, and also import other style files */
.vertical-spacer {
  width: 100%;
  display: block;
  clear: all;
  padding-top: 2em;
}

.vertical-half-spacer {
  width: 100%;
  display: block;
  clear: all;
  padding-top: 1em;
}

.vertical-quarter-spacer {
  width: 100%;
  display: block;
  clear: all;
  padding-top: 0.5em;
}

pre {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.error-snackbar {
  color: #f44336 !important;
}

.success-snackbar {
  color: #00c853 !important;
}

html, body {
  margin: 0 !important;
  width: 100%;
  height: 100%;
}
