<mat-card class="settings-card">
    <mat-card-header *ngIf="!saveInProgress">
      <mat-card-title><h2>User Settings</h2></mat-card-title>
    </mat-card-header>
    <div *ngIf="saveInProgress" class="spinner">
      <mat-spinner></mat-spinner>
      <div class="vertical-spacer"></div>
      Saving User Settings...
    </div>
    <form *ngIf="!saveInProgress" class="form-container" #f="ngForm" [formGroup]="settingsGroup" (ngSubmit)="saveSettings(f.value, f.valid)" novalidate>
      <mat-card-content align="center" class="align-input">
        <mat-input-container class="form-input">
          <input matInput type="text" placeholder="Name" formControlName="name" required />
          <mat-error *ngIf="settingsGroup.hasError('required', ['name'])">Name is required</mat-error>
        </mat-input-container>
        <mat-input-container class="form-input">
          <input matInput type="text" placeholder="Email" formControlName="email" required />
          <mat-error *ngIf="settingsGroup.hasError('required', ['email'])">Email is required</mat-error>
        </mat-input-container>
        <button mat-button class="btn-file">
          <mat-icon>add</mat-icon>
          Upload Profile Picture
          <input type="file" name="file" id="file" class="inputfile" formControlName="profilePicture" (change)="fileChangeListener($event)" accept="image/*"/>
        </button>
        <button mat-button *ngIf="previewImage()" type="button" (click)="openPreview()" class="save" id="preview">Preview Image</button>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button type="submit" [disabled]="!f.valid || !f.dirty" color="accent"> Save Settings </button>
      </mat-card-actions>
    </form>
</mat-card>