<form #f="ngForm" [formGroup]="formGroup" (ngSubmit)="create(f.value, f.valid)" novalidate>
  <mat-dialog-content>
    <mat-card class="create-card">
      <mat-card-header>
        <mat-card-title><h2>{{title}}</h2></mat-card-title>
      </mat-card-header>
        <mat-card-content align="center">
          <mat-input-container class="form-input">
            <input matInput type="text" placeholder="Article Title" formControlName="articleTitle" required />
            <mat-error *ngIf="formGroup.hasError('required', ['articleTitle'])">Article Title is required</mat-error>
          </mat-input-container>
          <mat-input-container class="form-input">
            <textarea matInput type="text" placeholder="Article Description" formControlName="articleDescription" rows="5" required></textarea>
            <mat-error *ngIf="formGroup.hasError('required', ['articleDescription'])">Article Description is required</mat-error>
          </mat-input-container>
        </mat-card-content>
    </mat-card>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <!-- Can optionally provide a result for the closing dialog. -->
    <button mat-raised-button type="submit" [disabled]="!f.valid">Create</button>
  </mat-dialog-actions>
</form>