<form #f="ngForm" [formGroup]="createArticleForm" (ngSubmit)="create(f.value, f.valid)" novalidate>
  <mat-dialog-content>
    <mat-card class="create-card mat-elevation-z0">
      <mat-card-header>
        <mat-card-title>Create a new article</mat-card-title>
      </mat-card-header>
        <mat-card-content align="center">
          <mat-form-field class="form-input">
            <input matInput type="text"
                            placeholder="Article Title"
                            formControlName="title"
                            required />
            <mat-error *ngIf="formGroup.hasError('required', ['title'])">Article Title is required</mat-error>
          </mat-form-field>
          <mat-form-field class="form-input">
            <textarea matInput type="text"
                                placeholder="Article Description"
                                formControlName="description"
                                rows="5"
                                required></textarea>
            <mat-error *ngIf="formGroup.hasError('required', ['description'])">Article Description is required</mat-error>
          </mat-form-field>
        </mat-card-content>
    </mat-card>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-raised-button type="submit" [disabled]="!f.valid" color="primary">Create</button>
  </mat-dialog-actions>
</form>
